<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMapper">
    <select id="selectTop" resultType="article" parameterType="hashmap">
       SELECT    articleTitle AS  title, articleContent AS content FROM b3_solo_article ORDER BY articleViewCount DESC LIMIT 0,${top}
    </select>
</mapper>